/* Removing default browser styling and setting font*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*--------------------------------------------------LOGIN/REGISTER PAGES------------------------------------------------------*/
/* Background image*/
.bodyindex{
	background-image: url(../images/fl.jpg);
	background-size: cover;
    background-attachment: fixed;
    background-position: bottom center; 
}

/* Form styling */
.form{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 375px;
	background-color: rgba(0,0,0, 0.80);
	color: #fff;
	border: solid black 2px;
	border-top: solid #5e147d 2px;
}

/*appname*/
.appname{
	width: 100%;
	height: 55px;
	background: #5e147d;
	border-left: solid #5e147d 2px;
}

.appname h2{
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	font-weight: lighter;
}

/* form tab styling */

.tab-panels ul {
	width: 100%;
	padding-top: 20px;
}
.tab-panels ul li {
	width: 40%;
    list-style-type: none;
    display: inline-block;
	background: #5e147d;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
	font-size: 18px;
	transition: all 0.4s ease-in-out;
}
.tab-panels ul li:hover {
    color: #fff;
	background: #9b59b6;
}

.tab-panels ul li.active {
    color: #fff;
	background: #9b59b6;
	border-bottom: solid black 2px;
}


/* form body styling */
.form .body{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%
}

/*for message styling*/
.formmessage{
	text-align: center;
	font-size: 18px;
}

/*label styling*/
.label{
	width: 100%;
	margin-top: 20px;
	text-align: left;
	padding-left: 10%;
	font-size: 18px;
}

/* form input styling */
.form .body .form-row input{
	border: none;
	outline: none;
	border-bottom: 2px solid black;
	width: 80%;
	height: 25px;
	margin-top: 2px;
	font-size: 18px;
	color: #fff;
	background: transparent;
}

/*used to center things*/
.holder{
	width: 100%;
	text-align: center;
}

/* form focus = what user is currently selecting */
.form .body .form-row input:focus{
	border-bottom: 2px solid rgb(255, 255, 255);
	transition: all .4s ease-in-out;
}

/*form submit button styling */
.form .body .form-row .buttonfull{
	width: 80%;
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	margin-top: 20px;
	height: 45px;
	text-transform: uppercase;
	color: white;
	font-size: 22px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	/*test*/
	border: solid black 2px;
	border-top: solid #5e147d 2px;
} 

.form .body .form-row .buttonsquare{
	width: 45px;
	border: none;
	outline: none;
	background: #7e349d; /*middle purple*/
	margin-top: 20px;
	height: 45px;
	text-transform: uppercase;
	color: transparent;
	font-size: 22px;
	cursor: pointer;
	overflow: hidden;
	/*test*/
	border: solid black 2px;
} 

.form .body .form-row .buttonspin{
	width: 45px;
	border: none;
	outline: none;
	background: #7e349d; /*middle purple*/
	margin-top: 20px;
	height: 45px;
	text-transform: uppercase;
	color: transparent;
	font-size: 22px;
	cursor: pointer;
	animation: rotating 1s 0.25s linear infinite;
	/*test*/
	border: solid black 2px;	
} 

.form .body .form-row button:hover{
	background: #9b59b6;
}

/*button spin animation*/
@keyframes rotating {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/*error & success message styling*/
.errormessage {
	margin-top: 30px;
	background-color: #D73C2C;
	width: 100%;
	height: 28px;
	text-align: center;
	border: solid black 1px;
}

.errormessage p{
	font-size: 18px;
	color: white;
	padding-top: 2px;
}

.successmessage {
	margin-top: 30px;
	background-color: #007c21;
	width: 100%;
	height: 28px;
	text-align: center;
	border: solid black 1px;
}

.successmessage p{
	font-size: 18px;
	color: #fff;
	padding-top: 2px;
}

/*--------------------------------------------------------NAVBAR HEADER--------------------------------------------------------*/

/*Dimentions/background of header*/
.header{
	width: 1100px;
	height: 180px;
	background-image: url(../images/Header4.png);
}

.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

/*Bar with app name (.appname styling found above)*/
.header .appname{
	height: 45px;
}

.header .appname h2{
	font-size: 30px;
	padding-top: 5px;
}

/*Transparent back to the navbar*/
.nav-back{
	width: 550px;
	height: 72px;
	background-color: rgba(0,0,0, 0.80);
	margin: 10px;
}

/*List items of the navbar*/
.nav-tabs ul{
	width: 100%;
	padding-top: 8px;
	padding-left: 8px;
}

.nav-tabs li{
	width: 19%;
	height: 56px;
	line-height: 56px;
    list-style-type: none;
    display: inline-block;
	text-align: center;
	background: #5e147d;
    color: #fff;
    cursor: pointer;
	transition: all 0.4s ease-in-out;

}

.nav-tabs ul li:hover {
    color: #fff;
	background: #9b59b6;
}

/*First letter of each options*/
.nav-tabs h2{
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
}

/*Other letters of options*/
.nav-tabs p{
	font-size: 18px;
	font-weight: lighter;
	display: inline-block;
}

/*Used to keep page content below header*/
.headerback{
	padding-bottom: 190px;
}

/*--------------------------------------------------------TASKCHECK--------------------------------------------------------------*/

/*Model background*/
.overlay{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0, 0.80);
}

/*Model window*/
.taskcheckcontent{
	background-color: #21072C; /*darker purple*/
    margin-top: 200px;
    border: 1px solid #5e147d;
	border-top: 1px solid #5e147d;
    width: 900px;
	max-height: 600px;
	overflow: auto;
}

.tasktitle{
	width: 96%;
	height: 30px;
	background: #5e147d; /*dark purple*/
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	text-align: center;
	color: white;
	font-size: 20px;
}

/*Displayed when there are no tasks*/
.tasktext{
	width: 90%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	background: #fefefe; /*white*/
	text-align: center;
	padding-top: 8px;
	color: black;
	font-size: 16px;
	border: solid #5e147d 1px;; /*dark purple*/
}

/*Tasks displayed*/
.taskcheckcontent table{
	width: 90%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	background: #fefefe; /*white*/
    border-collapse: collapse;
    border: solid #5e147d 2px;
	font-size: 18px;
}

.taskcheckcontent table:hover{
	border: solid #9b59b6 2px;
	background: #f5f5f5;
	transition: all 0.5s ease-in-out;
}

/*Table data width setting*/
td.tdimg{
	width: 80px;
}

td.tdtask{
	padding-top: 10px;
	padding-left: 10px;
	width: 525px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

td.tddate{
	padding-right: 5px;
}
td.tdbutton{
	width: 90px;
}

.taskcheckcontent form{
	height: 40px;
}

.taskcheckcontent table button{
	width: 100%;
	height: 100%;
	border: solid #5e147d;
	outline: none;
	background: #5e147d; /*dark purple*/
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.taskcheckcontent table button:hover{
	background: #9b59b6;
	border: solid #9b59b6;
}

/*Dismiss button*/
.taskcheckcontent .taskbutton{
	width: 40%;
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 30%;
	height: 45px;
	text-transform: uppercase;
	color: white;
	font-size: 22px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	border: solid black 1px;
	border-top: solid #5e147d 1px;
}

.taskcheckcontent .taskbutton:hover{
	background: #9b59b6;
}

/*--------------------------------------------------------PAGE DIMENTIONS--------------------------------------------------------------*/

.profile{
	width: 1020px;
	height: 100%;
}

.title{
	width: 1000px;
	height: 45px;
	background: #5e147d;
	color: #fefefe;
	text-align: center;
	font-size: 28px;
	font-weight: lighter;
	padding-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
}

/*--------------------------------------------------------PROFILE--------------------------------------------------------------*/

/*Character output boxes*/
.charholder{
	width: 495px;
	height: 275px;
	margin-top: 10px;
	margin-right: 10px;
	background: #21072C;
	display: inline-block;
	margin-left: 10px;
	margin-right: -4px;
}

.charhead{
	width: 100%;
	height: 45px;
	background: #5e147d;
	color: #fefefe;

}

.charhead h2{
	display: inline-block;	
	padding-top: 8px;
	padding-left: 8px;
	font-size: 26px;
	font-weight: lighter;
}

.charhead .level{
	display: inline-block;
	float: right;
	padding-right: 8px;
}

.charimg{
	display: inline-block;
	margin: 15px;
	margin-right: -4px;
	margin-bottom: 0px;
}

.charstats{
	display: inline-block;
	float: right;
	color: #fefefe;
	margin-top: 27px;
	margin-right: 30px;
}

.hp{
	width: 200px;
	margin-left: 35px;
	margin-bottom: 50px;
}

.xp{
	width: 200px;
	margin-left: 35px;
	margin-bottom: 35px;
}

.charstats h2{
	display: inline-block;
}

.charstats .level{
	float: right;
	font-weight: lighter;
}

.charbutton{

}

.charbutton .taskbutton{
	width: 220px;
	margin-left: 30px;
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	height: 45px;
	color: white;
	font-size: 22px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	border: solid black 1px;
	border-top: solid #5e147d 1px;
}

.charbutton .taskbutton:hover{
	background: #9b59b6;
}

.charbutton2{
	display: none;
}
.chartable{
	display: none;
}

.createcharacter{
	display: none;
}

/*--------------------------------------------------------CHARVIEW--------------------------------------------------------------*/

.currenttable{
	display: none;
}