/* Removing default browser styling and setting font*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*--------------------------------------------------LOGIN/REGISTER PAGES------------------------------------------------------*/
/* Background image*/
.bodyindex{
	background-image: url(../images/fl.jpg);
	background-size: cover;
    background-attachment: fixed;
    background-position: bottom center; 
}

/* Form styling */
.form{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 375px;
	background-color: rgba(0,0,0, 0.80);
	color: #fff;
	border: solid black 2px;
	border-top: solid #5e147d 2px;
}

/*appname*/
.appname{
	width: 100%;
	height: 55px;
	background: #5e147d;
	border-left: solid #5e147d 2px;
}

.appname h2{
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	font-weight: lighter;
}

/* form tab styling */

.tab-panels ul {
	width: 100%;
	padding-top: 20px;
}
.tab-panels ul li {
	width: 40%;
    list-style-type: none;
    display: inline-block;
	background: #5e147d;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
	font-size: 18px;
	transition: all 0.4s ease-in-out;
}
.tab-panels ul li:hover {
    color: #fff;
	background: #9b59b6;
}

.tab-panels ul li.active {
    color: #fff;
	background: #9b59b6;
	border-bottom: solid black 2px;
}


/* form body styling */
.form .body{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%
}

/*for message styling*/
.formmessage{
	text-align: center;
	font-size: 18px;
}

/*label styling*/
.label{
	width: 100%;
	margin-top: 20px;
	text-align: left;
	padding-left: 10%;
	font-size: 18px;
}

/* form input styling */
.form .body .form-row input{
	border: none;
	outline: none;
	border-bottom: 2px solid black;
	width: 80%;
	height: 25px;
	margin-top: 2px;
	font-size: 18px;
	color: #fff;
	background: transparent;
}

/*used to center things*/
.holder{
	width: 100%;
	text-align: center;
}

/* form focus = what user is currently selecting */
.form .body .form-row input:focus{
	border-bottom: 2px solid rgb(255, 255, 255);
	transition: all .4s ease-in-out;
}

/*form submit button styling */
.form .body .form-row .buttonfull{
	width: 80%;
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	margin-top: 20px;
	height: 45px;
	text-transform: uppercase;
	color: white;
	font-size: 22px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	/*test*/
	border: solid black 2px;
	border-top: solid #5e147d 2px;
} 

.form .body .form-row .buttonsquare{
	width: 45px;
	border: none;
	outline: none;
	background: #7e349d; /*middle purple*/
	margin-top: 20px;
	height: 45px;
	text-transform: uppercase;
	color: transparent;
	font-size: 22px;
	cursor: pointer;
	overflow: hidden;
	/*test*/
	border: solid black 2px;
} 

.form .body .form-row .buttonspin{
	width: 45px;
	border: none;
	outline: none;
	background: #7e349d; /*middle purple*/
	margin-top: 20px;
	height: 45px;
	text-transform: uppercase;
	color: transparent;
	font-size: 22px;
	cursor: pointer;
	animation: rotating 1s 0.25s linear infinite;
	/*test*/
	border: solid black 2px;	
} 

.form .body .form-row button:hover{
	background: #9b59b6;
}

/*button spin animation*/
@keyframes rotating {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/*error & success message styling*/
.errormessage {
	margin-top: 30px;
	background-color: #D73C2C;
	width: 100%;
	height: 28px;
	text-align: center;
	border: solid black 1px;
}

.errormessage p{
	font-size: 18px;
	color: white;
	padding-top: 2px;
}

.successmessage {
	margin-top: 30px;
	background-color: #007c21;
	width: 100%;
	height: 28px;
	text-align: center;
	border: solid black 1px;
}

.successmessage p{
	font-size: 18px;
	color: #fff;
	padding-top: 2px;
}

/*--------------------------------------------------------NAVBAR HEADER--------------------------------------------------------*/

/*Dimentions/background of header*/
.header{
	width: 1100px;
	height: 180px;
	background-image: url(../images/Header4.png);
}

.centered {
    position: absolute; /*changed from fixed to absolute to fix scrolling issue*/
    left: 50%;
    transform: translate(-50%, 0);
}

/*Bar with app name (.appname styling found above)*/
.header .appname{
	height: 45px;
}

.header .appname h2{
	font-size: 30px;
	padding-top: 5px;
}

/*Transparent back to the navbar*/
.nav-back{
	width: 550px;
	height: 72px;
	background-color: rgba(0,0,0, 0.80);
	margin: 10px;
}

/*List items of the navbar*/
.nav-tabs ul{
	width: 100%;
	padding-top: 8px;
	padding-left: 8px;
}

.nav-tabs li{
	width: 19%;
	height: 56px;
	line-height: 56px;
    list-style-type: none;
    display: inline-block;
	text-align: center;
	background: #5e147d;
    color: #fff;
    cursor: pointer;
	transition: all 0.4s ease-in-out;

}

.nav-tabs ul li:hover {
    color: #fff;
	background: #9b59b6;
}

/*First letter of each options*/
.nav-tabs h2{
	font-size: 30px;
	font-weight: lighter;
	display: inline-block;
}

/*Other letters of options*/
.nav-tabs p{
	font-size: 18px;
	font-weight: lighter;
	display: inline-block;
}

/*Used to keep page content below header*/
.headerback{
	/*padding-bottom: 190px;*/
	height: 190px;
}

/*--------------------------------------------------------TASKCHECK--------------------------------------------------------------*/

/*Model background*/
.overlay{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.80);
}

/*Model window*/
.taskcheckcontent{
	background-color: #21072C; /*darker purple*/
    margin-top: 200px;
    border: 1px solid #5e147d;
	border-top: 1px solid #5e147d;
    width: 900px;
	max-height: 600px;
	overflow: auto;
}

.tasktitle{
	width: 96%;
	height: 30px;
	background: #5e147d; /*dark purple*/
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2%;
	text-align: center;
	color: white;
	font-size: 20px;
}

/*Displayed when there are no tasks*/
.tasktext{
	width: 90%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	background: #fefefe; /*white*/
	text-align: center;
	padding-top: 8px;
	color: black;
	font-size: 16px;
	border: solid #5e147d 1px;; /*dark purple*/
}

/*Tasks displayed*/
.taskcheckcontent table{
	width: 90%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	background: #fefefe; /*white*/
    border-collapse: collapse;
    border: solid #5e147d 2px;
	font-size: 18px;
}

.taskcheckcontent table:hover{
	border: solid #9b59b6 2px;
	background: #f5f5f5;
	transition: all 0.5s ease-in-out;
}

/*Table data width setting*/
td.tdimg{
	width: 80px;
}

td.tdtask{
	padding-top: 10px;
	padding-left: 10px;
	width: 525px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

td.tddate{
	padding-right: 5px;
}
td.tdbutton{
	width: 90px;
}

.taskcheckcontent form{
	height: 40px;
}

.taskcheckcontent table button{
	width: 100%;
	height: 100%;
	border: solid #5e147d;
	outline: none;
	background: #5e147d; /*dark purple*/
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.taskcheckcontent table button:hover{
	background: #9b59b6;
	border: solid #9b59b6;
}

/*Dismiss button*/
.taskcheckcontent .taskbutton{
	width: 40%;
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 30%;
	height: 45px;
	text-transform: uppercase;
	color: white;
	font-size: 22px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	border: solid black 1px;
	border-top: solid #5e147d 1px;
}

.taskcheckcontent .taskbutton:hover{
	background: #9b59b6;
}

/*--------------------------------------------------------PAGE DIMENTIONS--------------------------------------------------------------*/

html{
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	overflow: scroll;
}

.title{
	width: 1000px;
	height: 45px;
	background: #5e147d;
	color: #fefefe;
	text-align: center;
	font-size: 28px;
	font-weight: lighter;
	padding-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	overflow: hidden;
}

/*--------------------------------------------------------PROFILE--------------------------------------------------------------*/

/*Character output boxes*/
.charholder{
	width: 495px;
	height: 275px;
	margin-top: 10px;
	margin-right: 10px;
	background: #21072C;
	display: inline-block;
	margin-left: 10px;
	margin-right: -4px;
}

.charhead{
	width: 100%;
	height: 45px;
	background: #5e147d;
	color: #fefefe;

}

.charhead h2{
	display: inline-block;	
	padding-top: 8px;
	padding-left: 8px;
	font-size: 26px;
	font-weight: lighter;
}

.charhead .level{
	display: inline-block;
	float: right;
	padding-right: 8px;
}

.charimg{
	display: inline-block;
	margin: 15px;
	margin-right: -4px;
	margin-bottom: 0px;
}

.charstats{
	display: inline-block;
	float: right;
	color: #fefefe;
	margin-top: 27px;
	margin-right: 30px;
}

.hp{
	width: 200px;
	margin-left: 35px;
	margin-bottom: 50px;
}

.xp{
	width: 200px;
	margin-left: 35px;
	margin-bottom: 35px;
}

.charstats h2{
	display: inline-block;
}

.charstats .level{
	float: right;
	font-weight: lighter;
}

.charbutton .taskbutton{
	width: 220px;
	margin-left: 30px;
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	height: 45px;
	color: white;
	font-size: 22px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	border: solid black 1px;
	border-top: solid #5e147d 1px;
}

.charbutton .taskbutton:hover{
	background: #9b59b6;
}

/*Character creation styling*/
.charactercreation{
	width: 1000px;
	height: 275px;
	margin-top: 50px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: #21072C;
}

.charactercreation .title{
	margin-left: 0px;
}

.imgholder{
	height: 230px;
	width: 322px;
	margin-left: 15px;
	margin-right: -4px;
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
	padding-left: 61px;
}

.inputholder{
	height: 230px;
	width: 322px;
	margin-right: -4px;
	display: inline-block;
	vertical-align: top;
}

.inputlabel{
	height: 30px;
	width: 250px;
	color: #fefefe;
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	padding-top: 4px;
	margin-top: 20px;
	margin-left: 36px;
}

.inputholder input[type=text]{
	height: 30px;
	width: 250px;
	font-size: 16px;
	padding-left: 10px;
	margin-top: 20px;
	margin-left: 36px;
}

.inputholder select{
	height: 30px;
	width: 250px;
	text-align: center;
	margin-top: 20px;
	margin-left: 36px;
}

.createbuttonholder{
	height: 230px;
	width: 322px;
	display: inline-block;
	vertical-align: top;
}

.createbuttonholder button{
	width: 220px;
	margin-left: 50px;
	margin-top: 90px;
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	height: 45px;
	color: white;
	font-size: 22px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	border: solid black 1px;
	border-top: solid #5e147d 1px;
}

.createbuttonholder button:hover{
	background: #9b59b6;	
}

.divider{
	height: 200px;
	width: 2px;
	margin-top: 15px;
	margin-right: -5px;
	background: #fefefe;
	display: inline-block;
	vertical-align: top;
}

/*--------------------------------------------------------CHARVIEW--------------------------------------------------------------*/

/*last task display*/
.lasttask{
	width: 495px;
	height: 275px;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 10px;
	background: #21072C;
	display: inline-block;
	margin-left: 10px;
	margin-right: -4px;
	margin-bottom: 10px;
}

.lasttaskhead{
	width: 100%;
	height: 45px;
	background: #5e147d;
	color: #fefefe;
}

.lasttaskhead h2{	
	padding-top: 8px;
	padding-left: 8px;
	font-size: 26px;
	text-align: center;
	font-weight: lighter;
}

.resultholder{
	margin-top: 5px;
}
.resultname{	
	height: 38px;
	width: 340px;
	margin-left: -5px;
	margin-top: 5px;
	background: #fefefe;
	display: inline-block;
	vertical-align: top;
	
	font-size: 22px;
	padding-top: 6px;
	padding-left: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

.name{
	height: 38px;
	width: 125px;
	margin-top: 5px;
	margin-left: 15px;
	background: #5e147d;
	display: inline-block;
	
	font-size: 22px;
	padding-top: 6px;
	text-align: center;
	color: #fefefe;
}

.result{
	height: 38px;
	width: 340px;
	margin-left: -5px;
	margin-top: 5px;
	background: #fefefe;
	display: inline-block;
	vertical-align: top;
	
	font-size: 22px;
	padding-top: 6px;
	padding-right: 6px;
	text-align: right;
}

/*Task add form*/
.taskadd{
	width: 1000px;
	height: 125px;
	margin-left: 10px;
	background: #21072C;
}

.taskadd .title{
	margin-left: 0px;
}

.taskaddform{
	height: 45px;
	width: 970px;
	margin-top: 15px;
	margin-left: 15px;
}

/*text input for task*/
.taskholder{
	height: 45px;
	width: 598px;
	display: inline-block;
	vertical-align: top;
}

.taskaddform input[type=text]{
	height: 100%;
	width: 100%;
	border: none;
	font-size: 16px;
	padding-left: 10px;
}

/*date input for task*/
.dateholder{
	height: 45px;
	width: 110px;
	display: inline-block;
	margin-left: -6px;
	text-align: center;
	vertical-align: top;
	margin-top: 0px;
}

.dateholder .tasklabel{
	height: 50%;
	width: 100%;
	padding-top: 2px;
	background: #5e147d;
	color: #fefefe;
	text-align: center;
	vertical-align: top;
}

.taskaddform input[type=date]{
	height: 50%;
	width: 100%;
	text-align: center;
}

/*select input for task*/
.selectholder{
	height: 45px;
	width: 95px;
	display: inline-block;
	margin-left: -6px;
}

.selectholder .tasklabel{
	height: 50%;
	width: 100%;
	padding-top: 2px;
	background: #5e147d;
	color: #fefefe;
	text-align: center;
}

.taskaddform select{
	height: 50%;
	width: 100%;
	text-align: center;
}

.taskaddform button{
	height: 45px;
	width: 76px;
	margin-left: -6px;
	display: inline-block;
	vertical-align: top;
	
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.taskaddform button:hover{
	background: #9b59b6;
}

/*Current tasks output*/
.currenttasks{
	width: 1000px;
	overflow: auto;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: #21072C;
}

.currenttasks .title{
	margin-left: 0px;
}

.currenttasksholder{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.currenttasksoutput{
	height: 45px;
	width: 970px;
	margin-top: 10px;
	margin-left: 15px;
	/*background: #fefefe;*/
}

.taskname{
	height: 100%;
	width: 100%;
	font-size: 16px;
	padding-left: 5px;
	padding-top: 10px;
	background: #fefefe;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.taskdetails{
	height: 50%;
	width: 100%;
	text-align: center;
	border-left: solid 1px black;
	background: #fefefe;
}

.buttonholder{
	display: inline-block;
	vertical-align: top;
}

.currenttasks button{
	height: 45px;
	width: 76px;
	margin-left: -6px;
	display: inline-block;
	vertical-align: top;
	
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.currenttasks button:hover{
	background: #9b59b6;
}

.notasks{
	height: 100%;
	font-size: 18px;
	padding-top: 12px;
	text-align: center;
	background: #fefefe;
}

/*--------------------------------------------------------STORE--------------------------------------------------------------*/

.wallet{
	height: 125px;
	width: 1000px;
	margin-top: 10px;
	background: #21072C;
}

.wallet .title{
	margin-left: 0px;
}

.walletbody{
	height: 45px;
	width: 970px;
	margin-top: 15px;
	margin-left: 15px;
	background: #fefefe;
	text-align: center;
	font-size: 22px;
	padding-top: 10px;
}

.success .title{
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	background: green;
}

.error .title{
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	background: red;
}

.items{
	height: 435px;
	width: 1000px;
	margin-top: 10px;
	background: #21072C;
}

.items .title{
	margin-left: 0px;
}

.item{
	height: 79px;
	width: 970px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	border: solid #5e147d 2px;
	overflow: hidden;
}

.itemimg{
	height: 75px;
	width: 77px;
	border-right: solid #5e147d 2px;
	display: inline-block;
	margin-right: -5px;
}

.itemdetails{
	height: 75px;
	width: 410px;
	border-right: solid #5e147d 2px;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}

.itemlabel{
	vertical-align: top;
	height: 30px;
	width: 100%;
	background: #5e147d;
	text-align: center;
	font-size: 18px;
	color: #fefefe;
	padding-top: 2px;
}

.itemcontent{
	height: 45px;
	width: 100%;
	background: #fefefe;
	text-align: left;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 15px;
}

.itemcontent p{
	float: right;
	font-size: 18px;
	padding-right: 10px;
}

.itemprice{
	height: 75px;
	width: 200px;
	border-right: solid #5e147d 2px;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}

.itempricecontent{
	height: 45px;
	width: 100%;
	background: #fefefe;
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

.itemchar{
	height: 75px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
}

.itemchar select{
	height: 45px;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.itembutton{
	height: 75px;
	width: 80px;
	display: inline-block;
	vertical-align: top;
}

.itembutton button{
	height: 75px;
	width: 80px;
	vertical-align: top;
	
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.itembutton button:hover{
	background: #9b59b6;
}

/*--------------------------------------------------------OPTIONS--------------------------------------------------------------*/

.charoptions{
	width: 1000px;
	background: #21072C;
	margin-top: 10px;
	margin-left: 10px;
	overflow: auto;
}

.charoptions .title{
	margin-left: 0px;
}

.chars{
	height: 42px;
	width: 970px;
	border: solid #5e147d 1px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.chars .charimg{
	margin-top: 0px;
	margin-left: 0px;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;
}

.chars .charname{
	height: 100%;
	width: 808px;
	display: inline-block;
	margin-right: -5px;
	background: #fefefe;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
	vertical-align: top;
}

.chars .charbutton{
	display: inline-block;
	margin-right: -5px;
}

.chars .charbutton button{
	height: 100%;
	width: 80px;
	/*vertical-align: top;*/
	border: none;
	outline: none;
	background: #5e147d; /*dark purple*/
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.chars .charbutton button:hover{
	background: #9b59b6;
}

.useremail{
	height: 100%;
	width: 888px;
	display: inline-block;
	margin-right: -5px;
	background: #fefefe;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
	vertical-align: top;
}

.nochars{
	height: 42px;
	width: 970px;
	border: solid #5e147d 1px;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	background: #fefefe;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

.optionsmessage .title{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 0px;
	background: green;
}

/*--------------------------------------------------------Tablet Styling (800px)--------------------------------------------------------------*/

@media screen and (max-width: 1099px){
/*Header styling*/
.header{
	width: 800px;
}

.title{
	width: 800px;
}

														/*profile styling*/
/*Character output boxes*/
.charholder{
	display: block;
	margin-left: 152px;
}

/*Character creation styling*/
.charactercreation{
	width: 800px;
}

.imgholder{
	width: 200px;
	padding-left: 0px;
	margin-right: 15px;
	margin-left: 40px;
}

.inputholder{
	width: 280px;
}

.inputlabel{
	margin-left: 15px;
}

.inputholder input[type=text]{
	margin-left: 15px;
}

.inputholder select{
	margin-left: 15px;
}

.createbuttonholder{
	width: 255px;
}

.createbuttonholder button{
	margin-left: 15px;
}

.createbuttonholder button:hover{
	background: #9b59b6;	
}

														/*taskcheck styling*/
/*Model window*/
.taskcheckcontent{
    width: 800px; 
}

td.tdtask{
	width: 425px;
}

														/*charview styling*/					
/*last task display*/
.lasttask{
	display: block;
	margin-left: 152px;
}

/*Task add form*/
.taskadd{
	width: 800px;
}

.taskaddform{
	width: 770px;
}

/*text input for task*/
.taskholder{
	width: 400px;
}

/*Current tasks output*/
.currenttasks{
	width: 800px;
}

.currenttasksoutput{
	width: 770px;
}

.taskname{
	width: 100%;
	font-size: 12px;
	padding-top: 15px;
}

.notasks{
	height: 100%;
	font-size: 18px;
	padding-top: 12px;
	text-align: center;
	background: #fefefe;
}				

														/*options styling*/
.charoptions{
	width: 800px;
}

.chars{
	width: 770px;
}

.chars .charname{
	width: 608px;
}

.useremail{
	width: 688px;
}

.nochars{
	width: 770px;
}

														/*store styling*/	
.wallet{
	width: 800px;
}


.walletbody{
	width: 770px;
}

.items{
	width: 800px;
}

.item{
	width: 770px;
}

.itemdetails{
	width: 310px;
}

.itemcontent{
	font-size: 16px;
	padding-top: 10px;
}

.itemcontent p{
	font-size: 14px;
}

.itemprice{
	width: 150px;
}

.itemchar{
	width: 150px;
}
							
}

/*--------------------------------------------------------Phone Styling (320px)--------------------------------------------------------------*/

@media screen and (max-width: 799px){
.title{
	width: 320px;
}
														/*header/navbar styling*/
/*Dimentions/background of header*/
.header{
	width: 320px;
	height: 122px;
}

.header .appname h2{
	font-size: 28px;
}

/*Transparent back to the navbar*/
.nav-back{
	width: 320px;
	height: 66px;
	margin-top: 5px;
	margin-left: 0px;
}

/*List items of the navbar*/
.nav-tabs ul{
	padding-top: 5px;
	padding-left: 5px;
}

.nav-tabs li{
	width: 60px;
	margin-right: -2px;

}

/*First letter of each options*/
.nav-tabs h2{
	font-size: 14px;
}

/*Other letters of options*/
.nav-tabs p{
	font-size: 12px;
}

/*Used to keep page content below header*/
.headerback{
	height: 132px;
}

														/*profile styling*/
/*Character output boxes*/
.charholder{
	width: 310px;
	height: 405px;
	margin-top: 10px;
	margin-right: 10px;
	background: #21072C;
	display: block;
	margin-left: 15px;
	margin-right: -4px;
}

.charhead{
	height: 40px;
}

.charhead h2{
	display: inline-block;	
	padding-top: 5px;
	padding-left: 8px;
	font-size: 26px;
	font-weight: lighter;
}

.charhead .level{
	display: inline-block;
	float: right;
	padding-right: 8px;
}

.charimg{
	display: block;
	margin-top: 15px;
	margin-left: 55px;
	margin-bottom: 0px;
}

.charstats{
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 55px;
}

.hp{
	margin-left: 0px;
	margin-bottom: 10px;
}

.xp{
	margin-left: 0px;
	margin-bottom: 15px;
}

.charbutton .taskbutton{
	width: 200px;
	margin-left: 0px;
}

/*Character creation styling*/
.charactercreation{
	width: 310px;
	height: 485px;
	margin-left: 15px;
}

.charactercreation .title{
	width: 310px;
	margin-left: 0px;
}

.imgholder{
	height: 200px;
	width: 322px;
	margin-left: 0px;
	margin-top: 15px;
	display: block;
	padding-top: 0px;
	padding-left: 55px;
}

.inputholder{
	height: 160px;
	width: 322px;
	display: block;
	vertical-align: top;
}

.inputlabel{
	margin-top: 10px;
	margin-left: 30px;
}

.inputholder input[type=text]{
	margin-top: 10px;
	margin-left: 30px;
}

.inputholder select{
	margin-top: 10px;
	margin-left: 30px;
}

.createbuttonholder{
	height: 45px;
	width: 310px;
	display: block;
}

.createbuttonholder button{
	width: 220px;
	margin-left: 45px;
	margin-top: 5px;
	height: 40px;
	color: white;
}

.divider{
	display: none;
}
														/*Task Check styling*/
/*Model window*/
.taskcheckcontent{
    margin-top: 50px;
    width: 320px;
	max-height: 400px;
}

/*Tasks displayed*/
.taskcheckcontent table{
	width: 288px;
}

/*Table data width setting*/
td.tdimg{
	display: none;
}

td.tdtask{
	width: 228px;
	white-space: nowrap;
	overflow: hidden;
}

td.tddate{
	display: none;
}
td.tdbutton{
	width: 60px;
}

.taskcheckcontent table button{
	font-size: 14px;
}

														/*CharView styling*/
/*last task display*/
.lasttask{
	width: 320px;
	height: 490px;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 10px;
	background: #21072C;
	display: inline-block;
	margin-left: 10px;
	margin-right: -4px;
	margin-bottom: 10px;
}

.resultname{	
	width: 310px;
	margin-left: 5px;
}

.name{
	width: 310px;
	margin-left: 5px;
}

.result{
	width: 310px;
	margin-left: 5px;
}

/*Task add form*/
.taskadd{
	width: 320px;
	height: 210px;
}

.taskaddform{
	height: 135px;
	width: 310px;
	margin-top: 10px;
	margin-left: 5px;
}

/*text input for task*/
.taskholder{
	height: 45px;
	width: 310px;
	display: block;
	margin-bottom: 5px;
}

.taskaddform input[type=text]{
	padding-left: 5px;
}

/*date input for task*/
.dateholder{
	margin-left: 0px;
}

/*select input for task*/
.selectholder{
	width: 100px;
	margin-left: -5px;
}

.taskaddform button{
	width: 310px;
	margin-left: 0px;
	display: block;
	margin-top: 5px;
}

/*Current tasks output*/
.currenttasks{
	width: 320px; 
}

.currenttasksholder{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.currenttasksoutput{
	width: 310px; 
	height: auto;
	margin-left: 5px;
}

.taskname{
	height: 100%;
	width: 100%;
	font-size: 16px;
	padding-left: 5px;
	padding-top: 10px;
	background: #fefefe;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.taskdetails{
	height: 50%;
	width: 100%;
	text-align: center;
	border-left: solid 1px black;
	background: #fefefe;
}

.buttonholder{
	display: block;
}

.currenttasks button{
	height: 45px;
	width: 310px;
	margin-left: 0px;
	display: block;
}

.notasks{
	padding-top: 8px;
	padding-bottom: 8px;
}

														/*Options styling*/
.charoptions{
	width: 320px;
}

.chars{
	width: 310px;
	height: 82px;
	margin-left: 5px;
}

.chars .charname{
	height: 40px;
	width: 230px;
}

.chars .charbutton{
	display: block;
	margin-right: 0px;
}

.chars .charbutton button{
	height: 40px;
	width: 310px;
}

.useremail{
	height: 40px;
	width: 310px;
	display: block;
}

.nochars{
	height: 42px;
	width: 310px;
	margin-left: 5px;
}

.optionsmessage .title{
	font-size: 20px;
	padding-top: 10px;
}

														/*Store styling*/
.wallet{
	width: 320px;
}

.walletbody{
	width: 310px;
	margin-left: 5px;
}

.items{
	height: 1028px;
	width: 320px;
}

.item{
	height: 227px;
	width: 310px;
	margin-left: 5px;
}

.itemimg{
	height: 75px;
	width: 77px;
	border-right: solid #5e147d 2px;
	display: inline-block;
	margin-right: -5px;
}

.itemdetails{
	width: 233px;
}

.itemcontent{
	text-align: center;
}

.itemcontent p{
	display: none;
}

.itemprice{
	width: 155px;
}

.itemchar{
	width: 155px;
}

.itembutton{
	width: 310px;
	display: block;
}

.itembutton button{
	width: 310px;
}
}